ul{
   margin-left: 60px;
}

ul li{
    list-style: none;
    display: inline-block;
    line-height: 100px;
}

ul li a{
    text-decoration: none;
    font-family: cursive;
    font-size: 20px;
    color: rgb(13, 5, 24);
    font-weight: bolder;
    padding: 0px 20px;
    
}

ul li a:hover{
    color: rgb(45, 13, 206);
}